{{ "<!-- Pictures Section -->" | safeHTML }}
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pictures Of Us</h2>
                <h3 class="section-subheading text-mutedwith ">
                  <a href="https://nickspreitzer.smugmug.com/frame/slideshow?key=5V5BHS&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&speed=3&transition=fade&transitionSpeed=2&clickable=1">Click here to view fullscreen</a>
                </h3>
            </div>
        </div>

        <iframe style="margin: 0 auto; display: block;"  src="https://nickspreitzer.smugmug.com/frame/slideshow?key=5V5BHS&autoStart=1&captions=0&navigation=0&playButton=0&randomize=1&speed=3&transition=fade&transitionSpeed=2" width="800" height="600" frameborder="no" scrolling="no"></iframe>

    </div>
</section>
