{{ "<!-- Pictures Section -->" | safeHTML }}
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pictures Of Us</h2>
                <h3 class="section-subheading text-mutedwith ">
                  <a href="https://nickspreitzer.smugmug.com/photos/swfpopup.mg?AlbumKey=wsVMQN">Click here to view fullscreen</a>
                </h3>
            </div>
        </div>

        <div class="picture-container">
            <iframe class="picture-frame" src="https://nickspreitzer.smugmug.com/frame/slideshow?key=wsVMQN&autoStart=1&captions=1&navigation=1&playButton=0&speed=3&transition=fade&transitionSpeed=2" frameborder="no" scrolling="no"></iframe>
        </div>

    </div>
</section>
