{{ "<!-- Hotel Block Section -->" | safeHTML }}
<section id="schedule" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.schedule.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.schedule.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>

        <div class="schedule-row">
          <h1>Thursday, March 2</h1>
          <table class="schedule">
            <tr>
              <td class="time">9:00 AM</td>
              <td class="description">TBD</td>
            </tr>
          </table>
        </div>

        <div class="schedule-row">
          <h1>Friday, March 3</h1>
          <table class="schedule">
            <tr>
              <td class="time">10:30 AM</td>
              <td class="description">Manicure and Pedicure for the Gals (and Guys...if they'd like to join us!)</td>
            </tr>
            <tr>
              <td class="time">5:00 PM (Estimated)</td>
              <td class="description">Rehearsal and Dinner at Vintage Villas</td>
            </tr>
          </table>
        </div>

        <div class="schedule-row">
          <h1>Saturday, March 4</h1>
          <h3 style="margin-bottom: 15px;"><span class="callout">The Big Day!</span></h3>
          <table class="schedule">
            <tr>
              <td class="time">10:30 AM</td>
              <td class="description">Ceremony at Vintage Villas Gazebo Gardens</td>
            </tr>
            <tr>
              <td class="time">11:15 AM</td>
              <td class="description">Brunch Reception</td>
            </tr>
            <tr>
              <td class="time">TBD (evening)</td>
              <td class="description">Informal (non-hosted) dinner at The Oasis</td>
            </tr>
          </table>
        </div>

        <div class="schedule-row">
          <h1>Sunday, March 5</h1>
          <table class="schedule ">
            <tr>
              <td class="time">10:30 AM</td>
              <td class="description">Breakfast at Vintage Villas</td>
            </tr>
          </table>
        </div>

    </div>
</section>
