{{ "<!-- wedding details -->" | safeHTML }}
<section id="wedding-details">
    <div class="container">

      <div class="row" id="countdown">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Counting Down</h2>
              <h3 class="section-subheading text-muted">Right down to the second!</h3>
              <div id="countdown-clock"></div>
          </div>
      </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.weddingDetails.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.weddingDetails.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>

        {{ range .Site.Params.weddingDetails.row }}
        <div class="row text-center">
            {{ range .list }}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ .title | markdownify }}</h4>
                <p class="text-muted">{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>
        {{ end }}

        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.11133682572!2d-97.93321538441232!3d30.4045828817527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b30e9a3dc8579%3A0x9eb73f1e3d959b69!2sVintage+Villas+Hotel+%26+Events!5e0!3m2!1sen!2sus!4v1485038095540" class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>
</section>
