{{ "<!-- Hero -->" | safeHTML }}
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
            <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
            <a href="http://jillandnickwedding.app.rsvpify.com/" class="page-scroll btn btn-xl header-button">RSVP Now!</a>
            <div class="big header-block">- OR -</div>
            <a href="#wedding-details" class="page-scroll btn btn-xl header-button">{{ with .Site.Params.hero.buttonText }}{{ . | markdownify }}{{ end }}</a>
        </div>
    </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
